{
  "extends": ["stylelint-config-html", "stylelint-config-standard"],
  "plugins": ["stylelint-order"],
  "rules": {
    "font-weight-notation": "numeric",
    "color-no-invalid-hex": true,
    "order/order": ["custom-properties", "declarations"],
    "order/properties-order": ["height", "width"],
    "order/properties-alphabetical-order": "true",
    "selector-max-type": [
      2,
      {
        "ignore": ["descendant"]
      }
    ]
  }
}
