---
import Layout from '../layouts/Layout.astro';
import "../styles/main.scss"


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<Layout>
          <div class=" flex gap-1">
            <a class="social" aria-label="discord" href="#"></a>
            <a class="social" aria-label="instagran" href="#"></a>
            <a class="social" aria-label="tiktok" href="#"></a>
            <a class="social" aria-label="twiter" href="#"></a>
          </div>
     
      
</Layout>
<style lang="scss">

</style>